.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.notfound-container h1 {
  font-size: 24px;
  color: #263868;
  margin-top: 16px;
}

.notfound-container p {
  font-size: 16px;
  color: #475569;
  margin-top: 8px;
}

.notfound-image {
  width: 200px;
}
