/* Full page background */
.results-container {
  min-height: 100vh;
  padding-top: 110px;
  background: linear-gradient(to right, #7b2ff7, #f107a3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.results-container.won {
  background: url('https://assets.ccbp.in/frontend/react-js/quiz-game-congrats-card-bg.png')
    no-repeat center center;
  background-size: cover;
}

/* Result Card */
.results-container img {
  width: 180px;
  margin-bottom: 20px;
}

/* Heading */
.results-container h1 {
  margin: 8px 0;
  font-size: 28px;
  font-weight: 600;
}

/* Percentage text */
.results-container h1:nth-of-type(2) {
  font-size: 24px;
  font-weight: 500;
  color: green;
}

/* Description */
.results-container p {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.9;
}

/* Report Button */
.results-container button {
  margin-top: 25px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover Effect */
.results-container button:hover {
  background-color: #e5e5e5;
  transform: scale(1.05);
}
